div.Mui-disabled {
    border: 1px solid #000;
    overflow: hidden;
    border-radius: 4px;
    background: linear-gradient(310deg, #141727, #3a416f) !important;
    color: #fff;
    font-size: 14px;
}

#min,
#doc,
#unit {
    -webkit-text-fill-color: #fff !important;
}

#description {
    width: 100% !important;
}